.field {
  display: flex;
  flex-direction: column;
}

.field__label-text {
  display: none;
}

.field__input,
.field__textarea {
  background: $bgWhite;
  border: 1px solid $brdWhite;
  border-radius: 8px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 16px;
  overflow: auto;
  padding: 10px 16px;
  resize: vertical;

  &::placeholder {
    color: $textGreyLight;
  }
}
