.header {
  align-items: center;
  background-color: $bgWhite;
  border-bottom: 1px solid $brdSkyLight;
  display: flex;
  padding: 24px 16px;
  position: relative;
}

@media (min-width: $mobile-plus) {
  .header {
    padding: 24px;
  }
}

@media (min-width: $tablet) {
  .header {
    &:before {
      background-color: $bgWhiteDark;
      border-radius: 1px;
      content: '';
      height: 32px;
      margin-right: 16px;
      width: 2px;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    align-items: flex-start;
    background-color: $bgWhite;
    border-bottom-color: transparent;
    flex-shrink: 0;
    padding: 0;
    width: 320px;

    &::before {
      display: none;
    }
  }
}

.header__menu-btn {
  flex-shrink: 0;
  margin-right: 16px;
}

@media (min-width: $tablet) {
  .header__menu-btn {
    order: -1;
    margin-right: 16px;
  }
}

@media (min-width: $desktop) {
  .header__menu-btn {
    display: none;
  }
}

.header__logo-link {
  margin-right: 16px;
  margin-top: -5px;
  margin-bottom: -6px;
}

@media (min-width: $desktop) {
  .header__logo-link {
    display: none;
  }
}

.header__user-menu {
  flex-grow: 1;
}

@media (min-width: $desktop) {
  .header__user-menu {
    display: none;
  }
}
