.nav {
  background-color: $bgWhite;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: auto;
  padding: 24px 16px;
  position: fixed;
  top: 0;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  width: 100vw;
  z-index: 9;

  &--closed {
    transform: translateX(-100%);
    box-shadow: none;
  }
}

@media (min-width: $mobile-plus) {
  .nav {
    padding: 24px;
  }
}

@media (min-width: $tablet) {
  .nav {
    width: 320px;
    height: 100vh;
    overflow: auto;
  }
}

@media (min-width: $desktop) {
  .nav {
    box-shadow: none;
    height: 100vh;
    overflow: auto;
    position: static; // for IE11
    position: sticky;
    transform: translateX(0);
    transition: none;
    width: 320px;
    z-index: 0;

    &:before {
      background-color: $bgSkyLight;
      content: '';
      height: 100%;
      position: absolute;
      right: 4px;
      top: 0;
      width: 1px;
    }
  }
}

.nav__header {
  display: flex;
  margin-bottom: 22px;
}

.nav__close-btn {
  margin-right: 16px;
}

@media (min-width: $desktop) {
  .nav__close-btn {
    display: none;
  }
}

.nav__logo-link {
  margin-top: -5px;
}

.nav__search-link {
  margin-left: auto;
}

.nav__list {
  @include list-reset;
  width: 100%;
  margin-bottom: auto;
}

.nav__item {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__link {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 32px;
  position: relative;

  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &--active {
    color: $textGrey;

    &:before {
      background-color: $bgSky;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      content: '';
      height: 100%;
      left: -16px;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }
}

@media (min-width: $mobile-plus) {
  .nav__link {
    &--active::before {
      left: -24px;
    }
  }
}

.nav__user-menu {
  width: 100%;
  margin-top: 32px;
}

.nav__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-top: 32px;
}

.nav__contacts-email {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-bottom: 8px;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

.nav__contacts-tel {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

.nav__langs {
  @include list-reset;
  display: flex;
  width: 100%;
}

.nav__langs-item {
  margin-right: 7px;
}

.nav__langs-link {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &--active {
    color: $textGrey;
  }
}
