$textBlack: #1B1C21;
$textGrey: #7E7E82;
$textGreyLight: #B5B6BC;
$textWhite: #FFFFFF;
$textPink: #FF3E79;

$bgBlocksGradient: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
$bgSky: #41F6D7;
$bgSkyLight: #D9FFF5;
$bgGrey: #B5B6BC;
$bgGreyLight: #F8F8F8;
$bgWhiteLight: #DDDDDD;
$bgWhite: #FFFFFF;
$bgWhiteDark: #EAEAEA;
$bgPink: #FF3E79;

$brdWhite: #EAEAEA;
$brdSky: #B8FFEC;
$brdSkyLight: #D9FFF5;
$brdPink: #FF3E79;
